$gutters: (
  0: 0px,
  1: 8px,
  2: 16px,
  3: 32px,
  4: 64px,
  5: 128px,
);

@each $index, $size in $gutters {
  .gx-#{$index} {
    --gutter-x: #{$size};
  }
  .gy-#{$index} {
    --gutter-y: #{$size};
  }
}