/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @use 'base/variables' as vars;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   static/sass/layout/_grid.scss 2:1  @use
 *   static/sass/style.scss 6:1         root stylesheet */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

/* Variables globales */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @use 'base/variables' as vars;\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   static/sass/layout/_grid.scss 2:1  @use\a   static/sass/style.scss 6:1         root stylesheet";
}
